.relative {
    position: relative;
}

.py-10.lg\:w-3\/4.w-full.mx-auto.course-contents {
    position: relative;
    z-index: 1;
}


.relative::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(121, 121, 29); */
    z-index: 1;
}

@media screen and (max-width: 992px) {
    
    .py-10.lg\:w-3\/4.w-full.mx-auto.course-contents {
        position: relative;
        z-index: 1;
        padding: 20px;
    }

    .relative::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: rgb(121, 121, 29); */
        z-index: 1;
    }
    table .table-body{
        padding-top: 10px;
        margin-bottom: 10px;
    }
}