.befr-logo img{
    width: 250px;
}

.befr-nav-links a{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(205, 210, 214);
    margin-right: 10px;
}
.befr-nav-links a:hover{
    color: white;
}
.befr-nav-links a:focus{
    color: white;
}

@media only screen and (max-width: 991px){
	.befr-nav-links a{
        margin-top: 10px;
        margin-left: 20px;
    }
    .befr-navbar{
        padding-bottom: 20px;
        
    }
    .befr-navbar{
        text-align: start;
    }
}